<div class="container">
  <h1 class="Books-best-sellers-text">
    Best Sellers
    <span class="Books-best-sellers-text-span">Books</span>
  </h1>

  <ul class="book-category-list">
    <!-- <li class="bs-book-item-2"></li> -->
  </ul>
  <div></div>

  <button id="scroll-btn" class="scroll-butn">
    <svg class="scroll-icon">
      <use
        href="../css/sprite.svg#icon-Vector"
        width="100%"
        height="100%"
      ></use>
    </svg>
  </button>
</div>

<div>
  <span></span>
  <div>
    <!-- <img src="" alt="" /> -->
    <div>
      <h2></h2>
      <p></p>
      <p></p>
    </div>
  </div>
  <button id="scroll-btn" class="scroll-btn">
</button>
</div>
