

    <section class="conteiner ">
        <h4 class="filtered-title"><span class="filtered-part-title">Hardcover</span> Fiction</h4>
        <ul class="filtered-list list">

            <li class="filtered-item">
               
                <img class="filtered-picture" src="./filt-images/desktop/img.jpg" alt="I will find you" width="264">
                
                <p class="filtered-subtitle">I WILL FIND YOU</p>
                <p class="filtered-author">Harlan Coben</p>
            </li>


            <li class="filtered-item">
               
                <img class="filtered-picture" src="./filt-images/desktop/img1.jpg" alt="HELLO BEAUTIFUL" width="264">
            
                <p class="filtered-subtitle">HELLO BEAUTIFUL</p>
                <p class="filtered-author">Ann Napolitano</p>
            </li>


            <li class="filtered-item">
                
                <img class="filtered-picture" src="./filt-images/desktop/img2.jpg" alt="LESSONS IN CHEMISTRY" width="264">
            
                <p class="filtered-subtitle">LESSONS IN CHEMISTRY</p>
                <p class="filtered-author">Bonnie Garmus</p>
            </li>

            <li class="filtered-item">
                
                <img class="filtered-picture" src="./filt-images/desktop/img3.jpg"
                        alt="TOMORROW, AND TOMORROW, AND TOMORROW" width="264">
                
                <p class="filtered-subtitle">TOMORROW, AND TOMORROW, AND TOMORROW</p>
                <p class="filtered-author">Gabrielle Zevin</p>
            </li>

            <li class="filtered-item">
               
                <img class="filtered-picture" src="./filt-images/desktop/img4.jpg" alt="STORM WATCH" width="264">
                
                <p class="filtered-subtitle">STORM WATCH</p>
                <p class="filtered-author">C.J. Box</p>
            </li>

            <li class="filtered-item">
                
                <img class="filtered-picture" src="./filt-images/desktop/img5.jpg" alt="PINEAPPLE STREET"
                        width="264">
                
                <p class="filtered-subtitle">PINEAPPLE STREET</p>
                <p class="filtered-author">Jenny Jackson</p>
            </li>

            <li class="filtered-item">
                
                <img class="filtered-picture" src="./filt-images/desktop/img6.jpg" alt="WORTHY OPPONENTS" width="264">

                <p class="filtered-subtitle">WORTHY OPPONENTS</p>
                <p class="filtered-author">Danielle Steel</p>
            </li>

            <li class="filtered-item filt-item">
                
                <img class="filtered-picture" src="./filt-images/desktop/img7.jpg" alt="DEMON COPPERHEAD" width="264">

                <p class="filtered-subtitle">DEMON COPPERHEAD</p>
                <p class="filtered-author">Barbara Kingsolver</p>
            </li>

            <li class="filtered-item filt-item">
                
                <img class="filtered-picture" src="./filt-images/desktop/img8.jpg" alt="SOMEONE ELSE'S SHOES" width="264">
                
                <p class="filtered-subtitle">SOMEONE ELSE'S SHOES</p>
                <p class="filtered-author">Jojo Moyes</p>
            </li>

            <li class="filtered-item filt-item">
                
                <img class="filtered-picture" src="./filt-images/desktop/img9.jpg" alt="I HAVE SOME QUESTIONS FOR YOU" width="264">
                
                <p class="filtered-subtitle">I HAVE SOME QUESTIONS FOR YOU</p>
                <p class="filtered-author">Rebecca Makkai</p>
            </li>

            <li class="filtered-item filt-item">
                
                <img class="filtered-picture" src="./filt-images/desktop/img10.jpg" alt="REMARKABLY BRIGHT CREATURES" width="264">
                
                <p class="filtered-subtitle">REMARKABLY BRIGHT CREATURES</p>
                <p class="filtered-author">Shel Van Pelt</p>
            </li>

            <li class="filtered-item filt-item">
                

                <img class="filtered-picture" src="./filt-images/desktop/img11.jpg" alt="A DAY OF FALLEN NIGHT" width="264">
                
                <p class="filtered-subtitle">A DAY OF FALLEN NIGHT</p>
                <p class="filtered-author">Samantha Shannon</p>
            </li>

            <li class="filtered-item filt-item">
                

                <img class="filtered-picture" src="./filt-images/desktop/img12.jpg" alt="SO SHALL YOU REAP" width="264">
               
                <p class="filtered-subtitle">SO SHALL YOU REAP</p>
                <p class="filtered-author">Donna Leon</p>
            </li>

            <li class="filtered-item filt-item">

                 <img class="filtered-picture" src="./filt-images/desktop/img13.jpg" alt="MAD HONEY" width="264">
                
                <p class="filtered-subtitle">MAD HONEY</p>
                <p class="filtered-author">Jodi Picoult and Jennifer Finney Boylan</p>
            </li>

            <li class="filtered-item filt-item">
               
                <img class="filtered-picture" src="./filt-images/desktop/img14.jpg" alt="THE LONDON SÉANCE SOCIETY" width="264">

                <p class="filtered-subtitle">THE LONDON SÉANCE SOCIETY</p>
                <p class="filtered-author">Sarah Penne</p>
            </li>

        </ul>
    </section>

