

    <section class="conteiner ">
        <h2 class="filtered-title"><span class="filtered-part-title">Hardcover</span> Fiction</h2>
        <ul class="filtered-list list">

            <li class="filtered-item">
                <picture>
                    <source srcset="./filt-images/desktop/img.jpg 1x, 
                                        ./filt-images/desktop/img-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img-1x.jpg 1x, 
                                        ./filt-images/tablet/img-2x.jpg 2x" media="(min-width:768px)">

                    <source srcset="./filt-images/mob-images/img-1x.jpg 1x, 
                                        ./filt-images/mob-images/img-2x.jpg 2x" media="(max-width:768px)">
                    <img class="filtered-picture" src="./filt-images/desktop/img.jpg" alt="I will find you" width="264">
                </picture>

                <h3 class="filtered-subtitle">I WILL FIND YOU</h3>
                <p class="filtered-author">Harlan Coben</p>
            </li>


            <li class="filtered-item">
                <picture>
                    <source srcset="./filt-images/desktop/img1.jpg 1x, 
                                        ./filt-images/desktop/img1-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img1-1x.jpg 1x, 
                                        ./filt-images/tablet/img1-2x.jpg 2x" media="(min-width:768px)">

                    <source srcset="./filt-images/mob-images/img1-1x.jpg 1x, 
                                        ./filt-images/mob-images/img1-2x.jpg 2x" media="(max-width:768px)">
                    <img class="filtered-picture" src="./filt-images/desktop/img1.jpg" alt="HELLO BEAUTIFUL"
                        width="264">
                </picture>

                <h3 class="filtered-subtitle">HELLO BEAUTIFUL</h3>
                <p class="filtered-author">Ann Napolitano</p>
            </li>


            <li class="filtered-item">
                <picture>
                    <source srcset="./filt-images/desktop/img2.jpg 1x, 
                                        ./filt-images/desktop/img2-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img2-1x.jpg 1x, 
                                        ./filt-images/tablet/img2-2x.jpg 2x" media="(min-width:768px)">

                    <source srcset="./filt-images/mob-images/img2-1x.jpg 1x, 
                                        ./filt-images/mob-images/img2-2x.jpg 2x" media="(max-width:768px)">
                    <img class="filtered-picture" src="./filt-images/desktop/img2.jpg" alt="LESSONS IN CHEMISTRY"
                        width="264">
                </picture>

                <h3 class="filtered-subtitle">LESSONS IN CHEM</h3>
                <p class="filtered-author">Bonnie Garmus</p>
            </li>

            <li class="filtered-item">
                <picture>
                    <source srcset="./filt-images/desktop/img3.jpg 1x, 
                                        ./filt-images/desktop/img3-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img3-1x.jpg 1x, 
                                        ./filt-images/tablet/img3-2x.jpg 2x" media="(min-width:768px)">

                    <source srcset="./filt-images/mob-images/img3-1x.jpg 1x, 
                                        ./filt-images/mob-images/img3-2x.jpg 2x" media="(max-width:768px)">
                    <img class="filtered-picture" src="./filt-images/desktop/img3.jpg"
                        alt="TOMORROW, AND TOMORROW, AND TOMORROW" width="264">
                </picture>

                <h3 class="filtered-subtitle">TOMORROW, AND...</h3>
                <p class="filtered-author">Gabrielle Zevin</p>
            </li>

            <li class="filtered-item">
                <picture>
                    <source srcset="./filt-images/desktop/img4.jpg 1x, 
                                        ./filt-images/desktop/img4-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img4-1x.jpg 1x, 
                                        ./filt-images/tablet/img4-2x.jpg 2x" media="(min-width:768px)">

                    <source srcset="./filt-images/mob-images/img4-1x.jpg 1x, 
                                        ./filt-images/mob-images/img4-2x.jpg 2x" media="(max-width:768px)">
                    <img class="filtered-picture" src="./filt-images/desktop/img4.jpg" alt="STORM WATCH" width="264">
                </picture>

                <h3 class="filtered-subtitle">STORM WATCH</h3>
                <p class="filtered-author">C.J. Box</p>
            </li>

            <li class="filtered-item">
                <picture>
                    <source srcset="./filt-images/desktop/img5.jpg 1x, 
                                        ./filt-images/desktop/img5-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img5-1x.jpg 1x, 
                                        ./filt-images/tablet/img5-2x.jpg 2x" media="(min-width:768px)">

                    <source srcset="./filt-images/mob-images/img5-1x.jpg 1x, 
                                        ./filt-images/mob-images/img5-2x.jpg 2x" media="(max-width:768px)">
                    <img class="filtered-picture" src="./filt-images/desktop/img5.jpg" alt="PINEAPPLE STREET"
                        width="264">
                </picture>

                <h3 class="filtered-subtitle">PINEAPPLE STREET</h3>
                <p class="filtered-author">Jenny Jackson</p>
            </li>

            <li class="filtered-item">
                <picture>
                    <source srcset="./filt-images/desktop/img6.jpg 1x, 
                                        ./filt-images/desktop/img6-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img6-1x.jpg 1x, 
                                        ./filt-images/tablet/img6-2x.jpg 2x" media="(min-width:768px)">

                    <source srcset="./filt-images/mob-images/img6-1x.jpg 1x, 
                                        ./filt-images/mob-images/img6-2x.jpg 2x" media="(max-width:768px)">
                    <img class="filtered-picture" src="./filt-images/desktop/img6.jpg" alt="WORTHY OPPONENTS"
                        width="264">
                </picture>

                <h3 class="filtered-subtitle">WORTHY OPPON</h3>
                <p class="filtered-author">Danielle Steel</p>
            </li>

            <li class="filtered-item filt-item">
                <picture>
                    <source srcset="./filt-images/desktop/img7.jpg 1x, 
                                        ./filt-images/desktop/img7-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img7-1x.jpg 1x, 
                                        ./filt-images/tablet/img7-2x.jpg 2x" media="(min-width:768px)">

                    <img class="filtered-picture" src="./filt-images/desktop/img7.jpg" alt="DEMON COPPERHEAD"
                        width="264">
                </picture>

                <h3 class="filtered-subtitle">DEMON COPPER</h3>
                <p class="filtered-author">Barbara Kingsolver</p>
            </li>

            <li class="filtered-item filt-item">
                <picture>
                    <source srcset="./filt-images/desktop/img8.jpg 1x, 
                                        ./filt-images/desktop/img8-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img8-1x.jpg 1x, 
                                        ./filt-images/tablet/img8-2x.jpg 2x" media="(min-width:768px)">

                    <img class="filtered-picture" src="./filt-images/desktop/img8.jpg" alt="SOMEONE ELSE'S SHOES"
                        width="264">
                </picture>

                <h3 class="filtered-subtitle">SOMEONE ELSE'S </h3>
                <p class="filtered-author">Jojo Moyes</p>
            </li>

            <li class="filtered-item filt-item">
                <picture>
                    <source srcset="./filt-images/desktop/img9.jpg 1x, 
                                        ./filt-images/desktop/img9-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img9-1x.jpg 1x, 
                                        ./filt-images/tablet/img9-2x.jpg 2x" media="(min-width:768px)">

                    <img class="filtered-picture" src="./filt-images/desktop/img9.jpg"
                        alt="I HAVE SOME QUESTIONS FOR YOU" width="264">
                </picture>

                <h3 class="filtered-subtitle">I HAVE SOME QUEST</h3>
                <p class="filtered-author">Rebecca Makkai</p>
            </li>

            <li class="filtered-item filt-item">
                <picture>
                    <source srcset="./filt-images/desktop/img10.jpg 1x, 
                                        ./filt-images/desktop/img10-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img10-1x.jpg 1x, 
                                        ./filt-images/tablet/img10-2x.jpg 2x" media="(min-width:768px)">

                    <img class="filtered-picture" src="./filt-images/desktop/img10.jpg"
                        alt="REMARKABLY BRIGHT CREATURES" width="264">
                </picture>

                <h3 class="filtered-subtitle">REMARKABLY BRIG</h3>
                <p class="filtered-author">Shel Van Pelt</p>
            </li>

            <li class="filtered-item filt-item">
                <picture>
                    <source srcset="./filt-images/desktop/img11.jpg 1x, 
                                        ./filt-images/desktop/img11-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img11-1x.jpg 1x, 
                                        ./filt-images/tablet/img11-2x.jpg 2x" media="(min-width:768px)">

                    <img class="filtered-picture" src="./filt-images/desktop/img11.jpg" alt="A DAY OF FALLEN NIGHT"
                        width="264">
                </picture>

                <h3 class="filtered-subtitle">A DAY OF FALLEN NI</h3>
                <p class="filtered-author">Samantha Shannon</p>
            </li>

            <li class="filtered-item filt-item">
                <picture>
                    <source srcset="./filt-images/desktop/img12.jpg 1x, 
                                        ./filt-images/desktop/img12-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img12-1x.jpg 1x, 
                                        ./filt-images/tablet/img12-2x.jpg 2x" media="(min-width:768px)">

                    <img class="filtered-picture" src="./filt-images/desktop/img12.jpg" alt="SO SHALL YOU REAP"
                        width="264">
                </picture>

                <h3 class="filtered-subtitle">SO SHALL YOU REAP</h3>
                <p class="filtered-author">Donna Leon</p>
            </li>

            <li class="filtered-item filt-item">
                <picture>
                    <source srcset="./filt-images/desktop/img13.jpg 1x, 
                                        ./filt-images/desktop/img13-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img13-1x.jpg 1x, 
                                        ./filt-images/tablet/img13-2x.jpg 2x" media="(min-width:768px)">

                    <img class="filtered-picture" src="./filt-images/desktop/img13.jpg" alt="MAD HONEY" width="264">
                </picture>

                <h3 class="filtered-subtitle">MAD HONEY</h3>
                <p class="filtered-author">Jodi Picoult and Jennifer Finney Boylan</p>
            </li>

            <li class="filtered-item filt-item">
                <picture>
                    <source srcset="./filt-images/desktop/img14.jpg 1x, 
                                        ./filt-images/desktop/img14-2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="./filt-images/tablet/img14-1x.jpg 1x, 
                                        ./filt-images/tablet/img14-2x.jpg 2x" media="(min-width:768px)">

                    <img class="filtered-picture" src="./filt-images/desktop/img14.jpg" alt="THE LONDON SÉANCE SOCIETY"
                        width="264">
                </picture>

                <h3 class="filtered-subtitle">THE LONDON SÉANCE</h3>
                <p class="filtered-author">Sarah Penne</p>
            </li>

        </ul>
    </section>

