<header class="header">
  <div class="header-underline">
    <a href="" class="header-icon">
      <svg class="chain-icon" width="22" height="22">
        <use href="/css/sprite.svg#icon-logo"></use>
      </svg>
      <svg class="chain-icon" width="77" height="13">
        <use href="/css/sprite.svg#icon-Bookshelf"></use>
      </svg>
    </a>
    <nav>
      <div class="navigation">
        <button onclick="navigateToPage()" class="link-btn">
          <span class="home-btn">Home</span>
        </button>
        <a href="" class="nav-image"
          ><span class="shopping-list">Shopping list</span>
          <svg class="chain-icon" width="20" height="20">
            <use href="/css/sprite.svg#icon-uil_cart"></use>
          </svg>
        </a>
      </div>
    </nav>
    <div class="slider-container">
      <div class="elipse-conteiner">
        <svg class="elipse-icon" width="40" height="20">
          <use href="/css/sprite.svg#icon-Rectangle-27"></use>
        </svg>
      </div>
      <div class="circle-conteiner">
        <svg class="circle-icon" width="26" height="26">
          <use href="/css/sprite.svg#icon-Group-1513"></use>
        </svg>
      </div>
    </div>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-icon" width="28" height="28">
        <use href="/css/sprite.svg#icon-align-left"></use>
      </svg>
    </button>
  </div>
</header>
