<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <div class="modal-content">
        <img id="modalImage" class="modal-image" alt="">
        <div class="text-content-modal">
            <h2 id="modalTitle" class="modal-title"></h2>
            <p id="modalAuthor" class="modal-author"></p>
            <p id="modalDescription" class="modal-description"></p>
        </div>

        <!-- <div class = "modal-link-list">
            <a href="">
                <svg id="amazon-modal" class="amazon-modal" width="62" height="19">
                    <use href="./css/sprite.svg#amazon-modal"></use>
                </svg>
            </a>
            <a href="">
                <svg id="apple-book-modal" class="aplle-book-modal" width="33" height="32">
                    <use href="./css/sprite.svg#apple-book-modal"></use>
                </svg>
            </a>
        </div> -->

    </div>
    <button id="modal-button" type="button" class="modal-button">ADD TO SHOPPING LIST</button>
</div>