<!--<div class="support-fund"></div>-->
<div class="shopping-list">
  <!--<div class="support-fund"></div>-->
  <h1>Shopping <span>List</span></h1>

  <!--Добавила розмітку через js <ul class="shopping-book-ul">
    <li>
      <button class="shopping-delete-btn">
        <svg class="shopping-list-svg" width="18" height="18">
          <use href="../css/sprite.svg#icon-trash"></use>
        </svg>
      </button>
    <li><img class="shopping-book-image" /></li>
    <li class="shopping-book-title"></li>
    <li class="shopping-book-genre"></li>
    <li class="shopping-book-descrip"><p></p></li>
    <li class="shopping-book-author"></li>
    <li class="amazon-kindle">
      <img
        class="amazon-pic"
        src="../img/amazon.png"
        style="background-color: transparent"
        alt="amazon"
      />
      <img
        class="kindle-pic"
        src="../img/kindle.png"
        style="background-color: transparent"
        alt="kindle"
      />
    </li>
  </ul> -->
</div>

 <div class="shopping-list-empty">
    <h1 class="shopping-ttl">Shopping <span>List</span></h1>
    <p class="shopping-empty-text">
      This page is empty, add some books and proceed to order.
    </p>
    <img class="shopping-empty-pic" src="../img/empty-list.png" alt="books" />
  </div>
</div> 
