/* General styles */
.Books-best-sellers-text {
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -1.28px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.dark-theme .Books-best-sellers-text {
    color: var(--title-text-dark-theme);
}

.Books-best-sellers-text-span {
    color:var(--main-hover-color);
}

.bs-h3 {
    display: flex;
    align-items: flex-start;
    color:var(--title-color);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 18px;
}

.bs-book-image {
    width: 335px;
    height: 485px;
    border-radius: 8px;
    background: url(<path-to-image>), var(--book-image) -4.635px -16px / 102.522% 106.839% no-repeat;
    margin-bottom: 14px;
    position: relative;
    max-width: 100%;
}

.book-category-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 320px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* ul */
.bs-book-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

/* li */
.bs-book-item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
    height: 100%;
}

.title-book {
    color: var(--bg-header-dark);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 4px;
}

.author-book {
    color:var(--title-color);
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bs-buttom {
    display: inline-flex;
    gap: 10px;
    padding: 14px 28px;
    align-self: flex-end;
    border-radius: 40px;
    border: 2px solid var(-main-hover-color);
}

.bs-buttom-name {
    color: var(--bg-header-dark);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.14px;
    text-transform: uppercase;
}

/* Styles for mobile phones*/
@media screen and (max-width: 767px) {
    .book-category-list .bs-book-item:nth-child(n+2) {
        display: none;
    }
}

/* Styles for tablets*/
@media screen and (min-width: 768px) {
    .Books-best-sellers-text {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1.92px;
        margin-top: 98px;
        margin-bottom: 0px;
        margin-left: 32px;
    }

    .bs-h3 {
        line-height: 24px;
    }

    .bs-book-image {
        width: 218px;
        height: 316px;
        border-radius: 8px;
        background: url(<path-to-image>),var(--book-image) 1.199px -15.113px / 101.376% 105.645% no-repeat;
    }

    .book-category-list {
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;
    }

    .book-category-list .bs-book-item:nth-child(n+4) {
        display: none;
    }

    .bs-book-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 25px;
        margin-bottom: 20px;
    }


    .bs-book-item {
        margin-bottom: 0px;
    }

}

/* Styles for computers*/
@media screen and (min-width: 1440px) {
    .Books-best-sellers-text {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1.92px;
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: 40px;
    }

    .bs-h3 {
        display: flex;
        align-items: flex-start;
        color: var(--title-color);
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 18px;
    }

    .bs-book-image {
        width: 180px;
        height: 256px;
        border-radius: 8px;
        background: url(<path-to-image>), var(--book-image) 50% / cover no-repeat;
    }

    .book-category-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 24px;
    }

    /* .book-category-list .bs-book-item:nth-child(n+6) {
    display: none;
} */

    .bs-book-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 32px;
    }

    .bs-book-item {
        margin-bottom: 0px;
        /* width: calc((100% - 24px) / 5); */
    }
}

/* Desktop styles*/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1.92px;
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: 40px;
    }

    h3 {
        display: flex;
        align-items: flex-start;
        color: var(--title-color);
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 18px;
    }

    img {
        width: 180px;
        height: 256px;
        border-radius: 8px;
        background: url(<path-to-image>), var(--book-image) 50% / cover no-repeat;
    }

    .book-category-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 24px;
    }

    .book-category-list .bs-book-item {
        display: block;
    }

    .bs-book-list {
        display: flex;
        gap: 24px;
        margin-bottom: 32px;
    }

    .bs-book-item {
        margin-bottom: 0px;
    }
}

/* scroll button */
body,
html {
    scroll-behavior: smooth;
}

#scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    display: none;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: var(--main-hover-color);
    border: none;
    overflow: hidden;
}

.scroll-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

#scroll-btn:hover .scroll-icon {
    transform: translateY(-10px) scale(1.2);
}

#scroll-btn:hover {
    box-shadow: 0 0 20px var(--main-hover-color);
}

