/* General styles */
h1 {
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -1.28px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.Books-best-sellers-text-span {
    color: #4F2EE8;
}

h3 {
    display: flex;
    align-items: flex-start;
    color: #B4AFAF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 18px;
}

img {
    width: 335px;
    height: 485px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -4.635px -16px / 102.522% 106.839% no-repeat;
    margin-bottom: 14px;
    position: relative;
    max-width: 100%;
}

.book-category-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 320px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* ul */
.bs-book-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

/* li */
.bs-book-item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
    height: 100%;
}

.title-book {
    color: #111;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 4px;
}

.author-book {
    color: #B4AFAF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bs-buttom {
    display: inline-flex;
    gap: 10px;
    padding: 14px 28px;
    align-self: flex-end;
    border-radius: 40px;
    border: 2px solid #4F2EE8;
}

.bs-buttom-name {
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.14px;
    text-transform: uppercase;
}

/* Styles for mobile phones*/
@media screen and (max-width: 767px) {
    .book-category-list .bs-book-item:nth-child(n+2) {
        display: none;
    }
}

/* Styles for tablets*/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1.92px;
        margin-top: 98px;
        margin-bottom: 0px;
        margin-left: 32px;
    }

    h3 {
        line-height: 24px;
    }

    img {
        width: 218px;
        height: 316px;
        border-radius: 8px;
        background: url(<path-to-image>), lightgray 1.199px -15.113px / 101.376% 105.645% no-repeat;
    }

    .book-category-list {
        /* width: 100%; */
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;
    }

    .book-category-list .bs-book-item:nth-child(n+4) {
        display: none;
    }

    .bs-book-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 25px;
        margin-bottom: 20px;
        /* width: calc((100% - 25px) / 3); */
    }
    

    .bs-book-item {
        margin-bottom: 0px;
    }

}

/* Styles for computers*/
@media screen and (min-width: 1440px) {
    h1 {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1.92px;
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: 40px;
    }

    h3 {
        display: flex;
        align-items: flex-start;
        color: #B4AFAF;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 18px;
    }

    img {
        width: 180px;
        height: 256px;
        border-radius: 8px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .book-category-list {
        /* width: 100%; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 24px;
    }

    /* .book-category-list .bs-book-item {
        display: block;
    } */

    .bs-book-list {
        display: flex;
        gap: 24px;
        margin-bottom: 32px;
    }

    .bs-book-item {
        margin-bottom: 0px;
    }
}