
/*_______________________MOBILE___________________*/

@media screen and (max-width:768px) {
   
    .filt-conteiner {
            max-width: 375px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: auto;
            margin-left: auto;
            height: 100%;
    
        }

    .filtered-part-title {

        color: #111;
        font-family: DM Sans;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -1.28px;

    }

    .filtered-title {
        margin-top: 0;
        margin-bottom: 40px;

        color: #4F2EE8;
        font-family: DM Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -1.28px;
    }

    .filtered-list {
        display: flex;
        flex-direction: column;

    }

        img {
            width: 335px;
            height: 485px;
            border-radius: 8px;
            background: url(<path-to-image>), lightgray -4.635px -16px / 102.522% 106.839% no-repeat;
            margin-bottom: 14px;
            position: relative;
            max-width: 100%;
    
        }

    .filtered-subtitle {
        color: #111;

        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.64px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 4px;
    }

    .filtered-author {
        color: #B4AFAF;
            font-family: DM Sans;
            font-size: 12px;
            font-style: italic;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: -0.48px;
            margin-top: 0px;
            margin-bottom: 0px;

    }

    .filtered-list:last-child {
        margin-bottom: 0px;


    }

   .filtered-item{
     display: inline-flex;
     flex-direction: column;
     align-items: flex-start;
     margin-bottom: 8px;
}

}
/*_______________________TABLET___________________*/


@media screen and (min-width:768px) {

   .filt-conteiner {

        max-width: 768px;
        margin-right: 32px;
        margin-left: 32px;
        height: 100%;
    }
    .filtered-part-title {

        color: #111;

        font-family: DM Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: -1.92px;
    }

    .filtered-title {
        margin-top: 0;
        margin-bottom: 40px;

        color: #4F2EE8;
        font-family: DM Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: -1.92px;
    }

    .filtered-list {

        display: flex;
        flex-wrap: wrap;
        height: auto;
        gap: 40px 25px;
        margin: 0;
        padding: 0;

    }

    img {
    width: 218px;
    height: 316px;
    border-radius: 8px;
    background: url(<path-to-image>),
     lightgray 1.199px -15.113px / 101.376% 105.645% no-repeat;
}

    .fitered-subtitle {


        color: #111;

        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.64px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 4px;
    }

    .filtered-author {
        color: #B4AFAF;
            font-family: DM Sans;
            font-size: 12px;
            font-style: italic;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: -0.48px;
            margin-top: 0px;
            margin-bottom: 0px;

    }


}

/*_______________________DESKTOP___________________*/

@media screen and (min-width:1200px) {
    .filt-conteiner {
            max-width: 1060px;
            padding: 0;
            margin-left: 24px;
            margin-right: 40px;
        }
    
    .filtered-list {

        display: flex;
        flex-wrap: wrap;
        height: auto;
        gap: 40px 24px;
        margin: 0;
        padding: 0;

    }

    img {
    width: 180px;
    height: 256px;
    border-radius: 8px;
    background: url(<path-to-image>), 
    lightgray 50% / cover no-repeat;
}
} 