body {
background: #F6F6F6;
}

body.dark-theme {
  background: #202024;
}

header {
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  background: #FFF;
  max-width: 100%;
  height: 64px;
}

header.dark-theme{
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  background: #111;
  max-width: 100%;
  height: 64px;
}

 @media only screen and (min-width: 768px){
  .header{
  height: 72px;}
} 

.header-underline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:14px 20px;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.theme-switch{
  margin-right: 14px;
}

@media only screen and (min-width:768px) {
  .theme-switch{
    margin-right: 240px;
  }
}

@media only screen and (min-width:1440px) {
  .theme-switch {
    margin-right: 232px;
  }
}

.header-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

@media only screen and (max-width:767px) {
  .header-icon {
    margin-right: auto;
  }
}

@media only screen and (min-width:768px) {
  .header-icon {
    margin-right: 40px;
  }
}

@media only screen and (min-width:1440px) {
  .header-icon {
    margin-right: 76px;
  }
}

@media only screen and (max-width:767px) {
  .navigation {
    display: none;
  }
}

@media only screen and (min-width:768px) {
  .navigation {
    display: flex;
      flex-direction: row;
      gap: 24px;
      justify-content: space-between;
      align-items: center;
  }
}

.home {
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.active-description {
  font-weight: 700;
}

.link-home {
  border-radius: 36px;
  background: #FFF;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border: none;
}

.link-shopping {
  border-radius: 36px;
  background: #FFF;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border: none;
}

@media only screen and (min-width:1439px) {
  .link-shopping {
    margin-right: 745px;
  }
}

.active {
  border-radius: 36px;
  background: #EAC645;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border: none;
}

.shopping-list {
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.black-icon,
.burger-black {
  display: block;
}

.white-icon,
.burger-white {
  display: none;
}

.dark-theme .black-icon,
.dark-theme .burger-black {
  display: none;
}

.dark-theme .white-icon,
.dark-theme .burger-white {
  display: block;
}

.theme-switch label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 25px;
  background: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
}

.theme-switch input {
  display: none;
}

.theme-switch input:checked+label {
background: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
}

.theme-switch label::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(247, 247, 247, 1));
  transition: transform 0.3s ease;
}

.theme-switch input:checked+label::after {
  transform: translate(20px, 0);
}