body,
html {
    scroll-behavior: smooth;
}

/* #scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    display: none;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #4F2EE8;
    border: none;
    overflow: hidden;
} */

/* .scroll-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
} */

/* #scroll-btn:hover .scroll-icon {
    transform: translateY(-10px) scale(1.2);
}

#scroll-btn:hover {
    box-shadow: 0 0 20px rgb(79, 46, 232);
} */


.close {
    /* width: 24px;
    height: 24px; */
    flex-shrink: 0;
    color:#111;
    float: right;
    padding-top: 12px;
    padding-right: 12px;
   
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* стилі для телефону */
.modal {
    /* потрібно буде вирішити цей стиль  */
    position: absolute; 
    top: 0;
    z-index: 1;
    left: 50%;
    transform: translate(-50%) scale(1);
    width: 335px;
    min-height: 762px;
    border-radius: 18px;
    background: #FFF;
    overflow: auto;
    border: 2px solid #111;
    display: none;
}


.modal-content {
    background-color: #fefefe;
    padding: 40px 24px;
   
       
       
  
        
}
.modal-image {
    width: 287px;
    height: 408px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    
    
}
.modal-title {
    color: #111;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: -0.64px;
    margin-bottom: 4px;
        
}
.modal-author {
    width: 287px;
    flex-shrink: 0;
    color: #B4AFAF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.48px;
    margin-bottom: 18px;
}
.modal-description {
    width: 287px;
    height: 70px;
    flex-shrink: 0;
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;  
    letter-spacing: -0.56px;
}
.modal-button{
    display: inline-flex;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    margin-left: 38px;

        
          
        
}


/* стилі для планшету */

@media screen and (min-width: 768px) {}

/* стилі для ПК */

@media screen and (min-width: 1280px) {}