/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}


img {
  /* стилі, які були прописані, деякі картинки не працюють, втрачають розміри  */
  /* display: block;
  max-width: 100%;
  height: auto; */
  width: 335px;
  height: 485px;
  border-radius: 8px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
@media screen and (min-width: 768px) {
  img {
    width: 218px;
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  img {
    width: 180px;
    height: 256px;
  }
}

