.shopping-list-empty {
  background-color: #000000;
}

.shopping-empty-text {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-left: auto;
  margin-right: auto;
}

.dark-theme .shopping-empty-text{
  color: rgba(255, 255, 255, 0.60);
}

.shopping-empty-pic {
  width: 265px;
  height: 198px;
  margin-bottom: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shopping-ttl {
  color: #111;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
  margin-left: 20px;
  margin-bottom: 120px;
  margin-top: 40px;
}

.dark-theme .shopping-ttl{
  color: #FFF;
}

.shopping-ttl.span {
  color: #4f2ee8;
}

.shopping-book-image {
  width: 100px;
  height: 142px;
  position: absolute;
  left: 14px;
  top: 14px;
  border-radius: 8px;
}
.shopping-book-title {
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.dark-theme .shopping-book-title{
  color: #FFF;
}

.shopping-book-genre {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.36px;
}

.shopping-book-descrip {
  width: 193px;
  height: 68px;
  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.dark-theme .shopping-book-descrip{
  color: #FFF;
}

.shopping-book-author {
  color: #b4afaf;

  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}

.shopping-book-ul {
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
  display: flex;
  width: 335px;
  height: 170px;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  list-style-type: none;
}

.shopping-delete-btn {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 24px;
  top: 24px;
  color: #4f2ee8;
  border-radius: 50%;
  border: #4f2ee8;
}
.shopping-list-svg {
  fill: #fff;
}
@media screen and (min-width: 375px) {
  .shopping-list-empty {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .shopping-list-empty {
    max-width: 768px;
  }

  .shopping-empty-pic {
    width: 322px;
    height: 241px;
    margin-top: 20px;
  }

  .shopping-empty-text {
    width: 349px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }

  .shopping-ttl {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
    margin-left: 32px;
    margin-bottom: 140px;
  }

  .shopping-book-image {
    width: 116px;
    height: 165px;
    left: 24px;
    top: 24px;
  }
  .shopping-book-genre {
    width: 508px;
    height: 53px;
  }

  .shopping-book-author {
    margin-bottom: 48px;
  }

  .shopping-book-ul {
    display: flex;
    width: 704px;
    height: 213px;
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .shopping-list-empty {
    max-width: 1280px;
  }
  .shopping-ttl {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
    margin-left: 40px;
    margin-bottom: 140px;
  }
  .shopping-empty-pic {
    width: 322px;
    height: 241px;
    margin-top: 20px;
  }

  .shopping-empty-text {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.36px;
  }

  .shopping-book-ul {
    width: 996px;
    height: 213px;
    margin-right: 24px;
  }
  .shopping-book-genre {
    width: 808px;
    height: 53px;
  }

  .shopping-book-image {
    position: absolute;
    left: 24px;
    top: 24px;
  }
}
